project/flows.json
[
    {
        "id": "f2603378.52c44",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "a0c87cea.d6a478",
        "type": "net-ping-node",
        "z": "f2603378.52c44",
        "name": "",
        "x": 402,
        "y": 213,
        "wires": [
            []
        ]
    },
    {
        "id": "aef09406.18aff",
        "type": "inject",
        "z": "f2603378.52c44",
        "name": "",
        "topic": "",
        "payload": "127.0.0.1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 211,
        "y": 187,
        "wires": [
            [
                "a0c87cea.d6a478"
            ]
        ]
    },
    {
        "id": "e116f7d3.2eae",
        "type": "inject",
        "z": "f2603378.52c44",
        "name": "",
        "topic": "",
        "payload": "127.0.1.1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 221,
        "y": 234,
        "wires": [
            [
                "a0c87cea.d6a478"
            ]
        ]
    },
    {
        "id": "206316e0.3ecbda",
        "type": "inject",
        "z": "f2603378.52c44",
        "name": "",
        "topic": "",
        "payload": "192.168.0.10",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 226,
        "y": 288,
        "wires": [
            [
                "a0c87cea.d6a478"
            ]
        ]
    },
    {
        "id": "4664e0fc.69b548",
        "type": "net-ping-node",
        "z": "f2603378.52c44",
        "name": "",
        "x": 852,
        "y": 347,
        "wires": [
            []
        ]
    },
    {
        "id": "1d66eed9.9c57b9",
        "type": "inject",
        "z": "f2603378.52c44",
        "name": "",
        "topic": "",
        "payload": "192.168.0.10",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 655.5,
        "y": 331,
        "wires": [
            [
                "4664e0fc.69b548"
            ]
        ]
    },
    {
        "id": "73d51d76.7a9cd4",
        "type": "template",
        "z": "f2603378.52c44",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "33.69.91.19\n125.221.139.184\n120.4.177.169\n43.13.179.27\n42.248.106.7\n147.244.97.198\n147.69.57.217\n21.242.172.171\n87.76.219.249\n106.6.147.131\n137.186.76.129\n238.255.117.133\n12.95.53.242\n190.11.218.0\n220.40.66.153\n15.14.29.238\n198.49.8.8\n66.163.206.66\n236.144.63.49\n32.107.14.39\n94.9.176.62\n131.116.179.231\n102.145.133.237\n109.199.37.57\n80.23.29.175\n227.82.55.30\n27.140.87.194\n109.125.137.222\n101.107.163.113\n124.142.221.207\n218.20.132.221\n90.234.216.10\n114.254.85.65\n183.111.66.140\n39.192.30.148\n165.230.69.217\n188.67.40.28\n80.250.146.169\n36.249.27.143\n70.55.109.66\n242.196.237.29\n252.82.34.191\n44.25.242.6\n186.219.208.105\n110.88.216.107\n3.204.40.101\n12.222.247.220\n58.211.124.150\n212.24.142.248\n179.210.142.241\n249.200.10.130\n106.207.170.233\n167.36.105.49\n164.12.73.202\n30.198.140.11\n64.135.98.58\n231.132.141.230\n29.127.109.16\n54.29.26.192\n187.115.203.131\n180.116.85.114\n222.200.164.215\n106.113.148.72\n214.80.57.163\n6.195.242.125\n120.235.178.127\n229.193.53.42\n15.94.162.249\n11.224.250.160\n39.96.242.139\n42.228.122.229\n13.249.253.64\n248.144.231.225\n1.74.203.133\n110.243.220.235\n15.157.205.36\n251.59.122.74\n58.64.92.150\n93.148.151.213\n227.23.174.31\n51.220.99.125\n71.242.113.19\n225.254.200.62\n185.89.222.53\n45.160.145.219\n147.26.206.241\n13.83.122.24\n215.178.36.201\n142.174.108.92\n97.241.47.23\n42.163.78.182\n50.66.38.34\n247.182.202.29\n249.131.240.138\n121.174.198.53\n194.196.107.216\n150.132.105.122\n189.26.64.94\n116.127.87.4\n87.180.150.97\n41.120.249.82\n248.204.187.208\n116.20.56.34\n32.103.42.34\n128.29.170.6\n121.141.156.2\n157.135.241.236\n8.219.192.9\n121.187.34.136\n63.133.105.99\n55.13.134.200\n4.182.210.131\n250.39.46.111\n5.115.56.136\n35.214.45.128\n151.139.252.245\n124.155.119.138\n237.253.46.172\n173.61.1.27\n132.238.75.114\n4.58.80.246\n219.244.167.145\n213.38.44.117\n19.65.5.212\n149.93.252.9\n89.27.15.192\n113.37.127.186\n189.161.1.84\n125.138.143.210\n155.70.107.65\n159.13.90.13\n137.120.221.221\n37.32.91.108\n16.210.255.234\n42.208.171.223\n178.186.97.82\n46.129.163.20\n191.81.201.101\n250.55.239.136\n137.183.35.180\n237.93.230.76\n26.30.105.191\n11.16.220.223\n247.236.71.40\n153.251.143.46\n233.49.158.64\n60.236.70.198\n79.233.234.91\n136.246.218.47\n158.154.186.40\n242.139.68.78\n247.92.239.37\n68.63.188.43\n202.82.172.183\n255.18.171.186\n38.127.47.54\n174.18.212.178\n107.164.231.96\n213.53.254.14\n196.6.38.93\n73.79.209.167\n148.113.239.122\n17.226.205.237\n87.129.239.38\n229.61.10.48\n61.126.48.18\n217.75.27.162\n77.13.246.161\n164.145.73.149\n9.95.174.34\n247.63.119.226\n113.206.194.5\n159.238.171.166\n88.86.216.58\n219.204.252.234\n118.107.37.40\n116.170.26.222\n228.41.212.153\n91.155.1.236\n4.56.36.18\n122.61.223.253\n177.25.60.79\n4.117.161.56\n216.213.99.0\n208.69.126.25\n103.11.166.174\n108.167.221.198\n223.107.236.98\n192.223.255.179\n128.204.51.133\n35.42.200.56\n95.218.154.178\n60.167.44.231\n139.55.166.173\n82.150.29.126\n158.120.116.0\n5.8.171.10\n58.226.65.234\n241.148.74.239\n240.119.123.57\n194.88.138.126\n73.190.47.207\n144.194.245.98\n218.167.137.200\n158.181.240.158\n99.215.234.7\n26.16.115.86\n93.247.191.226\n29.107.144.163\n130.147.107.160\n128.162.11.45\n170.53.88.3\n31.92.173.51\n192.125.64.0\n30.165.34.121\n8.128.11.57\n240.7.213.118\n208.20.230.158\n82.61.248.242\n224.176.15.199\n140.87.26.85\n140.71.38.86\n213.113.176.212\n19.83.141.233\n103.56.104.160\n55.231.140.91\n177.96.34.113\n244.103.138.68\n13.67.1.182\n46.133.15.75\n174.193.146.235\n200.214.48.145\n79.54.213.103\n75.44.12.103\n115.128.242.181\n42.30.99.127\n158.139.192.61\n136.34.252.74\n239.145.36.119\n47.249.85.219\n242.94.198.137\n68.24.203.128\n110.98.89.18\n231.188.127.233\n14.72.240.2\n113.203.244.79\n247.194.19.61\n249.64.39.204\n125.117.114.145\n41.128.48.109\n197.72.6.71\n167.91.0.105\n4.155.130.183\n99.15.91.29\n68.128.122.136\n126.171.123.91\n70.60.186.117\n162.174.38.253\n170.135.230.196\n37.104.142.253\n146.191.229.217\n127.68.196.19\n104.98.199.88\n17.163.100.146\n253.206.197.28\n18.40.24.15\n137.122.133.123\n90.250.231.97\n142.26.221.85\n75.83.27.11\n248.64.75.202\n121.116.169.74\n253.144.51.240\n194.113.240.141\n9.217.212.233\n166.125.161.124\n127.200.180.216\n92.106.130.136\n78.185.97.131\n174.219.148.184\n56.87.172.86\n92.243.5.176\n77.245.217.55\n32.7.142.4\n202.60.110.127\n248.89.89.240\n185.97.118.191\n134.67.226.226\n234.105.88.120\n246.27.87.176\n53.106.94.84\n242.1.221.107\n26.223.71.244\n45.116.224.250\n162.231.239.134\n100.225.192.202\n105.194.119.87\n110.187.140.148\n58.197.106.134\n162.75.11.53",
        "x": 369.5,
        "y": 462,
        "wires": [
            [
                "28343d4a.99ae72"
            ]
        ]
    },
    {
        "id": "12e2ac9a.04e383",
        "type": "inject",
        "z": "f2603378.52c44",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 195.5,
        "y": 457,
        "wires": [
            [
                "73d51d76.7a9cd4"
            ]
        ]
    },
    {
        "id": "28343d4a.99ae72",
        "type": "split",
        "z": "f2603378.52c44",
        "name": "",
        "splt": "\\n",
        "x": 530.5,
        "y": 462,
        "wires": [
            [
                "e11d435b.8604d"
            ]
        ]
    },
    {
        "id": "51b91bb5.536e44",
        "type": "inject",
        "z": "f2603378.52c44",
        "name": "",
        "topic": "",
        "payload": "21.242.172.171",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 656.5,
        "y": 375,
        "wires": [
            [
                "4664e0fc.69b548"
            ]
        ]
    },
    {
        "id": "e11d435b.8604d",
        "type": "join",
        "z": "f2603378.52c44",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "",
        "count": "",
        "x": 689,
        "y": 464,
        "wires": [
            [
                "4664e0fc.69b548"
            ]
        ]
    }
]